<!-- Start Footer -->
<footer class="py-8 bg-slate-800 dark:bg-gray-900">
    <div class="container">
        <div class="grid md:grid-cols-12 items-center">
            <div class="md:col-span-3">
                <a href="#" class="logo-footer">
                    <img src="assets/modified_logo_v2.png" class="md:ms-0 mx-auto" alt="">
                </a>
            </div>

            <div class="md:col-span-5 md:mt-0 mt-8">
                <div class="text-center">
                    <p class="text-gray-400">©
                        <script>document.write(new Date().getFullYear())</script>Join us and enjoy the services provided by our company. <!--  <i
                            class="mdi mdi-heart text-orange-700"></i>Start Footer -->
                    </p>
                </div>
            </div>

            <div class="nav-icons flex items-center lg_992:order-2 ms-auto">
    
                <ul class="list-none menu-social mb-0">
                 
                    <li class="inline">
                        <a href="https://www.facebook.com/profile.php?id=61561524069996" target="_blank">
                            <span class="login-btn-primary">
                                <span class="btn btn-sm btn-icon rounded-full bg-green-600 hover:bg-green-700 border-green-600 hover:border-green-700 text-white">
                                    <i class="uil uil-facebook-f"></i>
                                </span>
                            </span>
                       
                        </a>
                    </li>
                    
                    <li class="inline">
                        <a href="https://www.instagram.com/qashla.med/" target="_blank">
                            <span class="login-btn-primary">
                                <span class="btn btn-sm btn-icon rounded-full bg-green-600 hover:bg-green-700 border-green-600 hover:border-green-700 text-white">
                                    <i class="uil uil-instagram"></i>
                                </span>
                            </span>
                         
                        </a>
                    </li>
                    
                </ul>
             
            </div>
        </div><!--end row-->
    </div><!--end container-->
</footer><!--end footer-->
<!-- End Footer -->