    <!-- Navbar Start -->
    <app-navbar></app-navbar>
    <section class="py-36 lg:py-64 w-full table relative bg-center bg-cover" id="home">
        <!--<video id="background-video" autoplay muted loop class="absolute inset-0 object-cover w-full h-full">
            <source src="assets/We can regret.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video> -->
        <div class="absolute inset-0 bg-black opacity-80"></div>
        <div class="container relative z-10">
            <div class="grid grid-cols-1 mt-12">
                <h4 class="text-white lg:text-5xl text-4xl lg:leading-normal leading-normal font-medium mb-7 position-relative">
                    Your solution for the <br>Best advanced
                    <ngx-typed-js class="typewrite relative text-type-element inline-block" [typeSpeed]="80" [strings]="['Medical Devices']" [cursorColor]="'green'">
                        <span class="typing"></span>
                    </ngx-typed-js>
                </h4>
            </div>
        </div>
    </section>
    



    <!-- Hero End -->
    <app-about></app-about>
    <app-services></app-services>
    <app-portfolio></app-portfolio>
    <app-review></app-review>
    <app-pricing></app-pricing>
    <app-team></app-team>
    <app-blog></app-blog>
    <app-contactus></app-contactus>
    <app-footer></app-footer>
    <app-switcher></app-switcher>