<!-- Start -->
<section class="relative md:py-24 py-16 bg-gray-50 dark:bg-slate-800" id="about">
    <div class="container mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-12 md:grid-cols-2 gap-10 items-center">
            <div class="lg:col-span-5">
                <div class="relative" id="video-container">
                    <video id="about-video" class="rounded-lg shadow-lg relative w-full">
                        <source src="assets/We can regret.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <div id="play-button" class="absolute bottom-2/4 translate-y-2/4 start-0 end-0 text-center">
                        <button class="h-20 w-20 rounded-full shadow-lg shadow-slate-100 dark:shadow-slate-800 inline-flex items-center justify-center bg-white dark:bg-slate-900 text-red-600">
                            <i class="mdi mdi-play inline-flex items-center justify-center text-2xl"></i>
                        </button>
                    </div>
                </div>
            </div><!--end col-->

            <div class="lg:col-span-7">
                <div class="lg:ms-7">
                    <h6 class="text-green-600 text-base font-medium uppercase mb-2">Who We Are ?</h6>
                    <h3 class="mb-4 md:text-2xl text-xl font-medium dark:text-white">Our Company Story</h3>

                    <p class="text-slate-400 dark:text-slate-300 max-w-2xl mx-auto">Welcome to Qashla Group , our target to improve quality of life . 
                        An independent, privately-owned company , Qashla has been in business since 2003 . We have developed a firm culture of building 
                        a solid relationships with our customer as well our world-renowned partners who are leaders in their own respective sectors in the
                         healthcare industry.
                        We have successfully completed hundreds of projects over the years and will continue to acquire more shares of the healthcare markets .
                        Qashla Group has strong relationship with its clients and partners . This makes us a reliable global partner to our customers in both private as well governmental.</p>

                        <div class="relative mt-10">
                            <a href="#portfolio"
                                class="btn text-white rounded-md"
                                style="background-color: #0d925f; border-color: #108b5c;">View Portfolio</a>
                        </div>
                        
                </div>
            </div><!--end col-->
        </div><!--end grid-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->